* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #1E1E1E;
    overflow: hidden;
    position: relative;
}

a {
    color: #546E63;
    text-decoration: none;
}


input[type=text],
input[type=password] {
    text-align: right;
    border: 0;
    background: none;
    padding: 0;
}

#login {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 100px;
    margin-left: -150px;
    opacity: 1;
    transition: 0.6s;
}

#login.hidden {
    opacity: 0;
}

#login .logo {
    font-family: 'Aldrich', sans-serif;
    color: #A23F42;
    text-align: center;
    margin-bottom: 65px;
    font-size: 35px;
    letter-spacing: 8px;
}

#login .input {
    font-size: 0.8em;
    line-height: 25px;
    color: #546E63;
    text-shadow: 0 0 5px #32382E;
    border-bottom: 1px solid #32382E;
    width: 100%;
    height: 30px;
    position: relative;
    margin-bottom: 40px;
    letter-spacing: 1px;
    transition: 0.2s;
}

#login.error .input {
    color: #A23F42;
    text-shadow: 0 0 5px #722E2E;
    border-bottom: 1px solid #722E2E;
}

#login .input span {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    background: #1E1E1E;
    z-index: 1;
    padding-right: 5px;
    text-transform: uppercase;
}

#login .input input {
    height: 24px;
    width: 100%;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #32382E;
}

#login a.button {
    color: #CCC3A3;
    display: block;
    text-align: center;
    width: 100%;
    border: 1px solid #546E63;
    border-radius: 3px;
    padding: 10px 0;
    font-size: 0.8em;
    transition: 0.3s;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#login a.button:hover {
    box-shadow: 0 0 5px #32382E;
}

#login a:not(.button) {
    display: block;
    text-align: center; 
    font-size: 0.8em;
    line-height: 36px;
    transition: 0.3s;
}

#login a:not(.button):hover {
    text-shadow: 0 0 5px #32382E;
}


#sidebar {
    width: 300px;
    position: absolute;
    top: 0;
    right: -325px;
    bottom: 25px;
    background: rgba(15, 20, 26, 0.5);
    transition: 0.5s;
}

.playing #sidebar {
    right: -300px;
}

#sidebar.sidebar--open {
    right: 0;
}

.sidebar-handle {
    height: 100px;
    position: absolute;
    left: -25px;
    width: 25px;
    top: 50%;
    margin-top: -50px;
    background: rgba(15, 20, 26, 0.8);
    cursor: pointer;
}

.sidebar-handle .label {
    color: rgba(200, 200, 200, 0.4);
    display: block;
    font-size: 0.8em;
    left: 0;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 100px;
    transform: rotate(-90deg);
    transform-origin: 0 0 0;
    width: 100px;
    transition: 0.3s;
}

.sidebar-handle .label span {
    padding: 0 5px;
}

.sidebar-handle:hover .label {
    color: rgba(200, 200, 200, 0.8);
}

#sidebar.sidebar--open .sidebar-handle .label i {
    transform: rotate(180deg);
    transform-origin: center 7px;
}

#sidebar .sidebar-item {
    color: #1f1f1f;
    background: #dedede;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
    margin: 10px;
}

#sidebar .sidebar-item:not(:first-child) {
    font-size: 0.6em;
    opacity: 0.5;
}

#sidebar .sidebar-item[data-type=ship] { border-left: 5px solid rgb(150, 255, 200); }
#sidebar .sidebar-item[data-type=planet] { border-left: 5px solid rgb(150, 200, 255); }
#sidebar .sidebar-item[data-type=player] { border-left: 5px solid rgb(150, 100, 255); }

#sidebar .sidebar-item h3 {
    line-height: 1.1em;
    margin: 0;
    margin-bottom: 3px;
}

#sidebar .sidebar-item ul {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
}

#sidebar .sidebar-item li {
    font-size: 0.9em;
    line-height: 1.5em;
}


#game {
    width: 100%;
    height: 100%;
}

#gameCanvas {
    width: 100%;
    height: 100%;
}

#commands {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 2s;
}

.playing #commands {
    opacity: 1;
}

#commands .commands-history {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    margin-bottom: 29px;
    padding: 0px 5px;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
    pointer-events: none;
}

#commands .commands-history li {
    color: rgba(150, 200, 255, 0.4);
    opacity: 0;
    padding: 2px 0 0 0;
}

#commands .commands-history li.error {
    color: #A23F42;
}

#commands .commands-history :nth-last-child(1) { opacity: 1; }
#commands .commands-history :nth-last-child(2) { opacity: 0.6; }
#commands .commands-history :nth-last-child(3) { opacity: 0.3; }
#commands .commands-history :nth-last-child(4) { opacity: 0.1; }

#commands .commands-input {
    width: 100%;
    padding: 5px;
    background: rgba(150, 200, 255, 0.1);
    border: none;
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing: 1px;
}

#commands .commands-input--suggestion {
    color: rgba(200,200,200,0.4);
    background: none;
}

#commands .time {
    position: absolute;
    right: 0;
    bottom: 0;
    letter-spacing: 1px;
    color: white;
    font-size: 12px;
    background: rgba(150, 200, 255, 0.1);
    padding: 5px 8px;
    text-align: center;
    width: 150px;
}